@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CeeLearnAndDo</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu elit imperdiet, porta nibh vel, gravida nunc. Curabitur sed dolor sed nulla laoreet consequat.</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Meer weten &raquo;</a></p>
</div>

<!-- Was bezig met image slider voor de hoofdpagina...
<div class="container">
    <h1>test</h1>
    <h2>test</h2>
    <hr />
</div>
<div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/6.jpg"
            <div class="container">
                <div class="carousel-caption">
                    <h1> Testerino</h1>
                </div>
            </div>
        </div>
        <div class="item active">
            <img src="~/Content/Images/6.jpg"
            <div class="container">
                <div class="carousel-caption">
                    <h1> Testerino 2</h1>
                </div>
            </div>
        </div>
        <div class="item active">
            <img src="~/Content/Images/6.jpg"
            <div class="container">
                <div class="carousel-caption">
                    <h1> Testerino 3</h1>
                </div>
            </div>
        </div>
    </div>
    <a href="carousel" class="left carousel-control" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a href="carousel" class="right carousel-control" data-slide="next">
        <span class="icon-next"></span>
    </a>
    <script>
        $("#carousel").carousel(
            {
                interval: 2000
            });
    </script>
</div> -->
<div class="row">
    <div class="col-md-4">
        <h2>Over ons</h2>
        <p>
            Proin justo sapien, dignissim in ante nec, faucibus dignissim tortor. 
            Praesent sit amet massa eget libero venenatis venenatis quis id velit. 
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Meer weten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Proin justo sapien, dignissim in ante nec, faucibus dignissim tortor.
            Praesent sit amet massa eget libero venenatis venenatis quis id velit.
        </p>
        <p><a class="btn btn-default" href="~/Contact/Create">Meer weten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Werkzaamheden</h2>
        <p>
            Proin justo sapien, dignissim in ante nec, faucibus dignissim tortor.
            Praesent sit amet massa eget libero venenatis venenatis quis id velit.
        </p>
        <p><a class="btn btn-default" href="~/Portfolio/OneColumn">Meer weten &raquo;</a></p>
    </div>
</div>